
        <div class="col-md-8 col-sm-12 mx-auto">
            <h1 class="cover-heading">Win 50 bottles of Biggy.</h1>
            <p class="lead">Fill the Form below to Join the Contest and you also get 10 points  </p>
            <p class="lead">Already Have an account <a href="/login"> <span class="text-primary"> click here</span></a> to check your Progress</p>
         <div class="bg-light p-3 rounded opacity-25">
            <form action="/signup" method="post">
            <input type="text" placeholder="First name" name="firstname" class="form-control form-control-sm my-2" required>
         
            <input type="text" placeholder="Last name" name="lastname" class="form-control form-control-sm my-2" required>
           
            <input type="email" placeholder="Email" name="email" class="form-control form-control-sm my-2" required>
           
            <input type="tel" placeholder="Phone Number" name="phone_no" class="form-control form-control-sm my-2" required>
            <input type="text" id="refered_by" name="refered_by" readonly class="form-control form-control-sm my-2">

      
            <input type="password" placeholder="Password" name="password" class="form-control form-control-sm my-2" required>

            <button type="submit" class="btn btn-block btn-primary">SignUp</button>
  </form>
  </div>
        </div>



