
<div class="container">
    <div class="row">
        <div class="col-md-8 col-sm-12 mx-auto">
            <h1 class="cover-heading">Win 50 bottles of Biggy.</h1>
            <p class="lead">Login Form </p>
         <div class="bg-light p-3 rounded opacity-50">
            <form action="/login" method="post">           
            <input type="email" placeholder="Email" name="email" class="form-control form-control-sm my-2" required>
            <input type="password" placeholder="Password" name="password" class="form-control form-control-sm my-2" required>

            <button type="submit" class="btn btn-block btn-primary">login</button>
    
  </form>


  </div>
  
        </div>
    </div>
</div>


